/* #root {
  max-width: 1280px;
  text-align: center;
} 


header, footer {
width: 100vw;
height: 50px;
border: 1px solid black;
} */

/* .dog-item {
  background-color: rgb(227, 227, 227);
  border-radius: 20px;
  width: 300px;
  height: 500px;
  padding: 30px 0;
  margin: 5px auto;
}
.dog-item img {
  height: 200px;
  width: 90%;
} */
/* .admin-buttons {
  display: flex;
  justify-content: space-around;
} */
/* .edit-form {
  border: 1px red solid;
} */
/* .options-admin {
  border: 1px solid blue;
  height: 200px;

} */
/* .search-bar {
  margin: 10px auto;
}

#filter-search-options {
  display: flex;
  justify-content: space-around;
}

#search-field {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  text-indent: 5px;

} */

header {
  width: 100vw;
  height: auto;
  background-color: rgb(97, 97, 97);
  display: flex;
  justify-content: space-between;
}
header h1 {
  color: white;
  margin-left: 10px;
  font-size: 50px;
}
header img {
  height: 100px;
  width: auto;
  border-radius: 10px;
}
nav {
  width: fit-content;
  display: flex;
  margin-right: 10px;
}

.link-nav {
  font-size: 20px;
  margin: 0 5px;
  color: white;
}

.main-content-page {
  width: 100%;
  min-height: 80vh;
  height: fit-content;
  position: relative;
/*   background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./dogs.jpg");
 */  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.hero-text{
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

#login-box {
  padding: 10px 40px;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  margin-top: 20px;
  border: 2px solid black;
}

#login-box h2 {
  margin: 0;
}

#login-form input {
  border-radius: 10px;
  width: 250px;
  height: 40px;
  margin: 10px 0;
  text-indent: 10px;
}


.form-edit {
width: 50%;
}

.display-resquests-admin {
  margin: 20px 0;

}

.requests-columns {
  display: flex;
  height: 50px;
  width: 70%;
  align-items: center;
  font-size: 18px;
  background-color: rgb(0, 0, 41);
  color: white;
  margin: 0 auto;
}
.requests-columns > div {
  flex: 1; 
  text-align: center;
}

.item-request {
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: rgb(240, 240, 240);
  margin: 0 auto;
}
.item-request-dark {
  background-color: rgb(225, 225, 225);
}
.item-request p {
  margin: 0 5px;
  flex: 1;
  text-align: center; /* Para centrar el texto horizontalmente */

}
.item-request button {
  border-radius: 10px;
  border: none;
  background-color: rgb(106, 106, 106);
  padding: 5px 14px;
  color: white;
  flex: 1;
  margin-right: 5px;
}

#request-box-background {
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background-color: rgb(86, 86, 86, 0.9);
display: flex;
align-items: center;
z-index: 9;
}

.options-admin {
  margin: 20px 0;
}
#admin-form-info {
  width: 100%;
  
}
.request-box {
margin: 0 auto;
width: 40vw;
height: 60vh;
background-color: rgb(182, 182, 182);
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
padding: 5px 20px;
}

.request-box button {
  border: none;
  width: 100px;
  margin: 10px auto;
  border-radius: 10px;
  color: white;
  background-color: rgb(70, 70, 70);
  &:hover {
    background-color: rgb(10, 10, 10);
  }
}

#text-area-space {
  border-radius: 10px;
  overflow-y: auto; /* Aparecerá una barra de desplazamiento vertical si hay overflow */
  resize: none;
  text-indent: 10px;
  padding: 5px;
  font-size: 16px;
}

#delete-confirmation {
  position: fixed;
  height: 200px;
  border-radius: 20px;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(203, 203, 203);
  z-index: 4;
}

.loading-effect {
  position: absolute;
  top:20%; 
  left:50%; 
  translate: transform(-50%, -50%);
}

.circle {
  width: 100px;
  height: 100px;
  border: 4px solid rgba(0, 123, 255, 0.3); /* Borde transparente */
  border-radius: 50%; /* Forma de círculo */
  border-top: 4px solid #007bff; /* Borde superior azul */
  animation: spin 1s linear infinite; /* Animación de rotación */

  }
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }



.dog-photos{
  transition: 0.3s;
}

.dog-photos:hover {
background-color: rgb(233, 233, 233);
cursor: pointer;
}

.request-details {
  width: 60vw;
  margin: auto auto;
  border-radius: 10px;
  background-color: rgb(0, 54, 92);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 25px;
}
.request-details img {
  height: 150px;
  width: 150px;
  margin: auto auto;
  border-radius: 10px;
}

#user-request-message {
  font-size: 18px;
  border-radius: 10px;
  background-color: #ececec;
  color: black;
  padding: 15px 10px;
}

.request-details button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: black;
  font-size: 15px;
  margin: 0 auto;

}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.footer-text {
  font-size: 14px;
}

.request-details {
  width: 60vw;
  margin: auto auto;
  border-radius: 10px;
  background-color: rgb(0, 54, 92);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 25px;
}
.request-details img {
  height: 150px;
  width: 150px;
  margin: auto auto;
  border-radius: 10px;
}

#user-request-message {
  font-size: 18px;
  border-radius: 10px;
  background-color: #ececec;
  color: black;
  padding: 15px 10px;
}

.request-details button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: black;
  font-size: 15px;
  margin: 0 auto;

}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.footer-text {
  font-size: 14px;
}


/* Search bar styling */
.heading-search{
  font-size: 26px;
}

/* doesnt work - why?*/
.search-bar{
  font-weight: 300;
  width: 100%
}

.search-bar .card{
  
  border: none;
  background: #eee;
  border-radius: 10px;
  
}
.search-bar-element{
  width: 90%;
}

.search {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 8px;
  margin-left: 0;
  height: 40px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  

}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 0;
  line-height: 20px;
  transition: width 0.4s linear
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #536bf6;
  font-size: 16px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

#filter-search-options{
  font-size: 14px;
  line-height: 1,5;
  
}
#filter-search-options label{
  font-weight: 400;
}

.search-gender{
  margin-top: 10px; 
  margin-left: 20px;
  width: 70%;
  height: 40px;
  border-width: 0;
  border-radius: 10px;
  padding: 10px;
  font-weight: 300;
}
.submit-search{
  border-width: 1px;
  border-radius: 20px;
  width: 15%;
  height: 40px;
  transition: 0.3s;
  background-color: black;
  color:#eee;
  margin-top: 10px;
  float: right;
  
}
.submit-search:hover{
  background-color: rgb(191, 191, 191);
cursor: pointer;

}
/* User view styling */

.hero-text{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* doesn't work centering*/
.dog-details{
  margin: auto;
  width: 50%;
}
.dog-details img{
  border-radius: 20px;
  width: 90%;
  height: auto;

}

.dog-details-text{
padding-top: 30px;
}
.dog-details-text button{
  margin-top: 30px;
}
.dog-details-left-col{
  text-align: left;
  
}
.options-admin{
  margin-top: 30px;
  margin-bottom: 20px;
}
.options-admin .btn{
margin-left: 10px;

}


#about-info {
  margin-top: 40px;
}
#about-info h4 {
  text-align: center;
  margin: 20px 10px;
  font-size: 20px;
}

#about {
  display: flex;
  justify-content: space-evenly;
}

.person {
  margin-top: 10px;
}